<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">

        input.example1 { width: 20%; }
        input.example2 { width: 100px; }

        select { width: 250px; }

        textarea {
        width: 250px;
        height: 10em;
        }

        </style>
</head>
<body>
<div style="margin:0; text-align:center;">
    <form method="post" >
        <p>なまえ</p>
        <p><input type="text" name="name" size="30" class="example1" value="匿名さん"></p>

        <p>しつもん</p>
        <p><textarea name="msg" style="width:40%; height:300px"></textarea></p>

        <p><input type="submit" value="送信" class="example2"></p>
</div>
</body>
</html>
